@darkest: rgba(18, 18, 18, 1);
@dark: rgba(20, 20, 20, 0.9);
@contrast1: #4e753e;
@contrast2: #65af48;
@darkaccent: rgb(8, 8, 8);
@success: rgb(131, 255, 162);
@error: rgb(255, 123, 123);
@lightgray: rgb(125, 125, 125);
@lightergray: rgb(175, 175, 175);
@whitecontrast: rgba(255, 255, 255, 0.2);
@Inter: 'Inter', sans-serif;

html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px !important;
    font-family: @Inter;
    box-sizing: border-box;
    background: @darkest;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    background: rgba(34, 34, 34, 0.95);
    height: auto;
    color: #eee;
    box-sizing: border-box;
    padding: 21px 30px 20px;
    border-bottom: 1px solid hsla(0,0%,93.3%,.02);

    @media only screen and (max-width: 720px) {
        grid-template-columns: 0.5fr 6fr !important;
        grid-template-rows: 1fr 1fr;
    }

    .logo {
        flex: 2;

        img {
            width: 40px;
        }
    }

    .kek {
        flex: 2;
    }

    .buttons {
        display: inline-block;
        padding-left: 12px;

        a {
            color: #eee;
            text-transform: uppercase;
            margin: 0 10px;
            opacity: .5;
            transition: all .2s;
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 1.5px;
            cursor: pointer;
            
            &:hover {
                opacity: 1;
            }
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 12px;
    z-index: 50;
    height: calc(100vh - 81px);

    @media only screen and (max-width: 720px) {
        display: block !important;
    }

    p {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 15%;
        box-sizing: border-box;
        user-select: none;
        margin-top: 12px;
        margin-left: 12px;
        align-self: flex-start;
        padding: 1.5rem;
        font-family: @Inter;
        height: 100%;
        max-height: calc(100vh - 85px);
        margin-bottom: 12px;

        .tagContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 8px;
        }

        a {
            color: rgba(255, 255, 255, 0.5);
        }

        a,
        a:visited {
            transition: linear 0.15s;
            text-decoration: none;
        }

        a:hover {
            color: #eee;
            cursor: pointer;
        }

        @media only screen and (max-width: 720px) {
            display: none;
        }

        .totalContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: rgba(255, 255, 255, 0.3);
            font-weight: 500;
            margin-bottom: 16px;
        }

        .toTop {
            align-self: flex-end;
            align-items: flex-end;
            width: 100%;
            outline: none !important;
            background: transparent;
            color: rgba(255, 255, 255, 0.5);
            border: 0px;
            font-size: 14px;
            padding: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 4px;
            text-transform: uppercase;
            font-family: @Inter;
            margin-top: auto;
            background: rgba(255,255,255,.2);
            transition: color .2s;

            &:hover {
                color: rgba(255, 255, 255, 0.75);
                cursor: pointer;
            }

            &:active {
                transform: scale(0.975);
            }
        }
        .search {
            margin-bottom: 32px;
            position: relative;

            input {
                padding: 12px;
                width: 100%;
                border-radius: 6px;
                border: 2px solid rgba(255, 255, 255, 0.25);
                background: rgba(25, 25, 25, 1);
                color: rgba(200, 200, 200, 1);
                margin-right: 12px;
                font-family: inherit;
                font-weight: 500;
                font-size: 16px;
                transition: border .2s;
    
                &:focus {
                    outline: none;
                    border-color: rgba(255, 255, 255, 0.5) !important;
                }
            }

            button {
                background: none;
                border: none;
                position: absolute;
                top: 3px;
                right: 3px;
                padding: 12px;
                opacity: .5;
                transition: opacity .2s;

                &:hover {
                    opacity: .7;
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    .resources {
        display: block;
        overflow-y: auto;
        min-height: calc(100vh - 85px);
        max-height: calc(100vh - 85px);
        width: 100% !important;
        padding-top: 12px;
        padding-right: 12px;
        overflow-x: hidden;

        @media only screen and (max-width: 720px) {
            grid-template-columns: 1fr !important;
            padding-left: 12px;
        }

        .resource {
            display: flex;
            flex-direction: row;
            max-height: 450px;
            background: rgb(60, 60, 60);
            box-sizing: border-box;
            user-select: none;
            position: relative;
            transition: opacity .2s;
            margin-bottom: 12px;
            width: 100%;
            overflow-x: hidden;
            border-radius: 4px;

            .info {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                min-height: 50px;
                font-family: @Inter;
                font-size: 24px;
                text-align: left;
                box-sizing: border-box;

                .titleBar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.4);
                    padding: 12px;

                    .stack {
                        display: flex;
                        flex-direction: column;

                        .author {
                            color: @contrast2;
                            font-family: @Inter;
                            font-size: 16px;
                            flex-grow: 1;
                            padding-top: 5px;
                            padding-right: 12px;
                        }

                        .tags {
                            color: @lightergray;
                            font-size: 12px;
                        }

                        .title {
                            overflow: hidden;
                            white-space: nowrap;
                            font-family: @Inter;
                            text-overflow: ellipsis;
                        }

                        @media only screen and (max-width: 720px) {
                            .title {
                                max-width: 300px;
                            }
                        }

                        @media only screen and (max-width: 1000px) {
                            .title {
                                width: 100% !important;
                                max-width: unset;
                                flex-grow: 1;
                            }
                        }
                    }
                }

                p {
                    font-size: 16px;
                    padding: 12px;
                    background: rgba(0, 0, 0, 0.2);
                    width: 100%;
                    min-height: 100px;
                }

                .starInfo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 75px;
                    height: 35px;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 6px;
                    margin-left: 12px;

                    .stars {
                        color: #fff;
                        opacity: 0.5;
                        font-size: 18px;
                    }

                    svg {
                        min-width: 18px;
                        max-width: 18px;
                        margin-left: 6px;
                    }
                }
            }

            &:hover {
                cursor: pointer;
                opacity: 0.65;

                .title {
                    color: white;
                }

                .description {
                    transform: translateY(0);
                }

                .starInfo {
                    color: white !important;
                }

                .stars {
                    color: white;
                }

                svg {
                    opacity: 1;
                }
            }

            @media only screen and (max-width: 720px) {
                .image {
                    display: none;
                }
            }

            .image {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                min-width: 300px;
                width: 300px;
                min-height: 100%;
                opacity: 0.75;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.lds-heart {
    display: inline-block;
    min-width: 80px;
    min-height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgba(125, 125, 125, 1);
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: rgba(125, 125, 125, 1);
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: @darkaccent;
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
}